@model Remake_FUP.Models.Financeiro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Financeiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direcao_Financeira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direcao_Financeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao_Financeira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao_Financeira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Financeiro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
